################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoundedImageViewSample/bin/Debug
/RoundedImageViewSample/obj/Debug
*.suo
*.user
